@charset "UTF-8";

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.7s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.3s ease;
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
<<<<<<< HEAD
}

@keyframes progress {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
=======
>>>>>>> 955e6c762b1494f8bb156bdd9cc713d8326a5e05
}